.error{color:red}
div.App{
    height: 100vh;
    width:100vw;
    overflow: hidden;
    background: url(./imgs/background.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat:no-repeat;
}
.game-title{
    font-size:50px;
}


@keyframes scale {
    0% {
        -webkit-transform: scale(0.5);
    }
    50% {
        -webkit-transform: scale(1);
    }
100% {
        -webkit-transform: scale(0.5);
    }
}

.game-title {
    animation: scale 2s ease-in-out infinite ;
    -webkit-animation: scale 2s ease-in-out infinite ;
}
.links-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.title-spin:hover{
animation: spinner 0.5s ease-out;
}

@keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.light-background{
    padding:20px;
    margin:120px auto 0 auto;
    background-color:rgba(255,255,255, 0.9);
    width:550px;
}
form{
    width:350px;
    margin:auto;
}
label{
    margin-right: 20px}

.input-wrapper{
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
}
.MuiFormControl-root{
    margin-bottom:20px!important;
    width:100%
}
a{color:black;
text-decoration:none;
font-weight: 800
}
a:hover{
    text-decoration: underline;

}