.targetStyle {
  height: 120px;
  position: absolute;
  transition: 2s;
}
.timer {
  width: 200px;
  margin: 100 auto;
}
.joke-wrapper {
  width: auto;
  height: auto;
  z-index: 100;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.4em;
  padding: 1em;
}
.joke {
  color: white;
  width: 200px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 10%;
  padding: 10px;
  border-radius: 0px 0px 25px 25px;
}
.joke h1 {
  margin: 0;
}
.message-log {
  position: fixed;
  right: 0;
  width: 250px;
  height: 150px;
  overflow-y: scroll;
  text-align: right;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 15px 0px 0px 0px;
}
.game-modal {
  margin-top: 14%;
}
/* .targetStyle:nth-child(1) {
  animation-delay: 0.5s;
}
.targetStyle:nth-child(2) {
  animation-delay: 1s;
}
.targetStyle:nth-child(3) {
  animation-delay: 1.5s;
}
.targetStyle:nth-child(4) {
  animation-delay: 2s;
}
@keyframes move {
  0% {
    left: -20%;
  }
  100% {
    left: 200%;
    top: 200%;
  }
} */
