.aria{
    z-index: 101px;
        top: 0px;
        display: flex;
        flex-direction: column;
        transition: all 200ms;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10234D;
    opacity: 0.6;
    z-index: 101;
}
.modal-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms opacity;
    z-index: 1000;
    height: 100%;
    max-height: 500px;
}
.flex{
    display: flex;
    min-height: 50px;
    padding: 10px;
}

.modal{
    background: white;
    border-radius: 5;
    box-shadow: 3px 3px 3px #878787;
    width: 100vw;
    max-width: 770px;
    height: 400px;
    position: relative;
    overflow-Y: scroll;
}
.icon-div{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 1000;
    width: 40px;
    height: 40px;
}